*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro h1{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
}
.intro h2{
    text-align: center;
    font-size: 30px;
    
}
body{
    /* background-color: linear-gradient(#2E3192 , #1BFFFF); */
    background-color:darkgray;
    /* justify-self: center;
    align-items: center; */
}
.card{
    width: 90%;
    max-width: 470px;
    /* background:linear-gradient(135deg,#00feba,#5b548a); */
     /* background: linear-gradient(135deg , #2E3192 , #1BFFFF); */
     /* background: linear-gradient(135deg , #4E65FF, #92EFFD); */
     background: linear-gradient(135deg , #868F96  ,  #596164);
     color:#fff ;
     margin: 40px auto 0;
     border-radius: 20px;
     padding: 40px 35px;
     text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.search input{
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;

}
.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 80px;
    font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    margin-top: 50px;
     
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humdity , .wind{
  font-size: 18px;
  margin-top: -6px;
}
.weather{
    display: none;
}